.form {
	display: flex;
	flex-direction: column;
	width: 50%;
	height: 100%;
	margin: 20px 50px 0 0;
	padding: 30px;
	border-radius: 10px;
	background: linear-gradient(270deg, rgba(63,71,121,1) 0%, rgba(38,41,46,1) 100%);
	box-shadow: 6px 4px 7px -1px rgba(34, 60, 80, 0.37);
	color: #fff;
	&__input,
	&__select {
		width: 100%;
		height: 30px;
		margin: 4px 0 20px;
		padding: 0 20px 0 30px;
		border: none;
		border: 2px solid #e1e4e9;
		border-radius: 10px;
		outline: none;
		&:focus {
			box-shadow: 0px 0px 3px 0px #fff;
		}
	}
	&__input-button {
		height: 50px;
		margin-top: 40px;
		cursor: pointer;
		border: none;
		border: 2px solid #e1e4e9;
		background: #41424b;
		box-shadow: 3px 3px 6px -2px #fff;
		font-size: 16px;
		text-transform: uppercase;
		color: #fff;
		cursor: pointer;
		outline: none;
		transition: all .3s;
		&:active {
			box-shadow: 0px 0px 6px -2px #fff;
			transform: scale(0.97);
		}
	}
	&__label-check {
		font-size: 14px;
		display: flex;
		margin-bottom: 20px;
		cursor: pointer;
	}
	&__check-text {
		width: 100%;
	}
	&__input-check {
		width: 18px;
		height: 18px;
		margin: 0;
		cursor: pointer;
	}
}

.switcher {
	display: flex;
	justify-content: space-between;
	align-items: center;
	&__box {
		display: flex;
		margin-right: 25px;
		width: 43px;
		height: 22px;
		border: 1px solid rgba(236,236,236,.5);
		background: #41424b;
		border-radius: 10px;
	}
	&__label {
		position: relative;
	}
	&__label-text {
		position: absolute;
		cursor: pointer;
	}
	&__label-text--yes {
		left: -33px;
	}
	&__label-text--no {
		right: -23px;
	}
	&__input {
		opacity: 0;
	}
	&__btn {
		position: absolute;
		top: 50%;
		right: 50%;
		transform: translate(50%, -50%);
		width: 19px;
		height: 19px;
		border-radius: 50%;
		cursor: pointer;
		opacity: 0;
		transition: all .3s;
	}
	&__input:checked + .switcher__btn {
		opacity: 1;
	}
	&__input--receive:checked + .switcher__btn {
		background-color: #fff;
		border: 1px solid #000;
		box-shadow: 0px 0px 3px 2px #fff;
	}
	&__input--noreceive:checked + .switcher__btn {
		background-color: #41424b;
		border: 1px solid #fff;
	}
}

.erorr-validate {
	font-size: 12px;
	color: red;
}

