.card {
	width: 450px;
	margin: 20px 0 0;
	padding: 20px;
	border-radius: 5px;
	border: 2px solid #fff;
	background: linear-gradient(270deg, rgba(63,71,121,1) 0%, rgba(38,41,46,1) 100%);
	box-shadow: 6px 4px 7px -1px rgba(34, 60, 80, 0.37);
	color: #fff;
}